:root {
  --color2: #098ccf;
  --color3: #2fa5e0;
  --color4: #55bdf1;
  --color1: #fca922;
  --color5: #ffffff;
}

.text-color1 {
  color: var(--color1);
}

.bg-custom {
  background-color: var(--color2);
}

.boton-comprar {
  background-color: var(--color2);
  width: 200px;
}

.boton-comprar:hover {
  background: var(--color1);
}

.foto {
  height: 500px;
  width: 500px;
  background-size: cover;
  background-position: center;
}

.foto1 {
  background-image: url(../img/AL-schnauzer.jpg);
}

.foto2 {
  background-image: url(../img/img4.jpg);
}

.foto3 {
  background-image: url(../img/img3.jpg);
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.nombre {
  color: var(--color1);
}

.pet {
  color: var(--color2);
}
.titulo {
  color: var(--color5);
}
.card-border {
  border: solid 2px var(--color2);
  border-radius: 10px;
  overflow: hidden;
  transition: ease-out 0.2s;
}
.card-border:hover {
  transform: scale(1.02);
}
.gradiente {
  background: #0ab1ff;
  background: linear-gradient(var(--color1), var(--color3));
  background-repeat: repeat-x;
  background-size: 75%;
}
.img-product {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.img-section {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.my-phone {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.section-title {
  font-weight: bold;
  transition: ease-out 0.2s;
  color: #098ccf;
}
.section-title:hover {
  transform: scale(1.05);
  color: var(--color1);
}
/* .img-section:hover {
  transform: rotate(-10deg);
<<<<<<< HEAD
}
=======
} */
<<<<<<< HEAD
>>>>>>> b26c5d54794891d6a24808f5ed6ef141ef770097
=======

.precio {
  color: var(--color2);
}

.cantidad {
  color: var(--color1);
  font-weight: 600;
}

.img-producto {
  width: 200px;
  height: 200px;
}

.card-size {
  width: 200px;
  height: 450px;
}

/*---------------------
  Shopping Cart
-----------------------*/

.shopping__cart__table {
  margin-bottom: 30px;
}

.shopping__cart__table table {
  width: 100%;
}

.shopping__cart__table table thead {
  border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table thead tr th {
  color: var(--color2);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.shopping__cart__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table tbody tr td {
  padding-bottom: 30px;
  padding-top: 30px;
}

.shopping__cart__table table tbody tr td.product__cart__item {
  width: 400px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__pic {
  float: left;
  margin-right: 30px;
}

.shopping__cart__table-img {
  width: 90px;
  height: 90px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__text {
  overflow: hidden;
  padding-top: 21px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__text
  h6 {
  color: var(--color2);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__text
  h5 {
  color: var(--color2);
  font-weight: 700;
}

.shopping__cart__table table tbody tr td.quantity__item {
  width: 175px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 {
  width: 80px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.quantity__item
  .quantity
  .pro-qty-2
  input {
  width: 50px;
  border: none;
  text-align: center;
  color: var(--color2);
  font-size: 16px;
  font-weight: bold;
}

.shopping__cart__table
  table
  tbody
  tr
  td.quantity__item
  .quantity
  .pro-qty-2
  .qtybtn {
  font-size: 16px;
  color: var(--color1);
  width: 10px;
  cursor: pointer;
}

.shopping__cart__table table tbody tr td.cart__price {
  color: var(--color2);
  font-size: 18px;
  font-weight: 700;
  width: 140px;
}

.shopping__cart__table table tbody tr td.cart__close i {
  font-size: 18px;
  color: #111111;
  height: 40px;
  width: 40px;
  background: #f3f2ee;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.continue__btn.update__btn {
  text-align: right;
}

.continue__btn.update__btn a {
  color: #ffffff;
  background: #111111;
  border-color: #111111;
}

.continue__btn.update__btn a i {
  margin-right: 5px;
}

.continue__btn a {
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
}

.cart__discount {
  margin-bottom: 60px;
}

.cart__discount h6 {
  color: var(--color2);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.cart__discount form {
  position: relative;
}

.cart__discount form input {
  font-size: 14px;
  color: #b7b7b7;
  height: 50px;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
}

.cart__discount form input::-webkit-input-placeholder {
  color: var(--color1);
}

.cart__discount form input::-moz-placeholder {
  color: var(--color1);
}

.cart__discount form input:-ms-input-placeholder {
  color: var(--color1);
}

.cart__discount form input::-ms-input-placeholder {
  color: var(--color1);
}

.cart__discount form input::placeholder {
  color: var(--color1);
}

.cart__discount form button {
  font-size: 14px;
  color: var(--color2);
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--color1);
  padding: 0 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.cart__total {
  background: var(--color1);
  padding: 35px 40px 40px;
}

.cart__total h6 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.cart__total ul {
  margin-bottom: 25px;
}

.cart__total ul li {
  list-style: none;
  font-size: 16px;
  color: white;
  line-height: 40px;
  overflow: hidden;
}

.cart__total ul li span {
  font-weight: bold;
  color: white;
  float: right;
}

.cart__total .primary-btn {
  display: block;
  padding: 12px 10px;
  text-align: center;
  letter-spacing: 2px;
  background-color: var(--color2);
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  max-height: 150px;
}
